@font-face {
    font-family: BebasKai;
    src: url("fonts/BebasKai-Regular.otf") format("opentype");
}

.customFont {
     font-family: BebasKai, serif;
 }
.test {
    font-family: BebasKai, serif;
}